{% extends 'shop/basic.html' %}

{% block title %} Tracker Page {% endblock %}

{% block css %}
<style>

</style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="col my-4">
        <h2> Your response is: </h2>
        {% csrf_token %}
        <div>
            <div class="col my-4">
                <h2>Your Order Status :</h2>
                <div class="my-4">
                    <ul class="list-group" id="items">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{response.text}}
                            <span class="badge bg-primary rounded-pill">14</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block js %}
    
{% endblock %} 

